<div class="col-md-6">
  <h2 class="text-center">Add Customer</h2>
<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="customer.email" placeholder="Email" name="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input [(ngModel)]="customer.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input [(ngModel)]="customer.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
  </div>

  <div class="form-group">
    <label for="geburtsdatum">Geburtdatum:</label>
    <input [(ngModel)]="customer.geburtsdatum" placeholder="Geburts - Datum" name="geburtsdatum" class="form-control" id="geburtsdatum">
  </div>


  <div class="form-group">
    <label for="firmenname">Firmenname:</label>
    <input [(ngModel)]="customer.firmenname" placeholder="Firmenname (Optional)" name="firmenname" class="form-control" id="firmenname">
  </div>


  <div class="form-group">
    <label for="Rabatt">Rabatt:</label>
    <input [(ngModel)]="customer.rabatt" placeholder="Rabatt" name="rabatt" class="form-control" id="rabatt">
  </div>

  <div class="form-group">
    <label for="firmenname">Notiz:</label>
    <textarea [(ngModel)]="customer.notiz" placeholder="Notiz" name="notiz" class="form-control" id="notiz"></textarea>
  </div>

  <div class="form-group">
    <label for="Telefonnummer">Telefonnummer:</label>
    <input type="number" [(ngModel)]="customer.telefonnummer" placeholder="Telefonnummer" name="telefonnummer" class="form-control" id="telefonnummer">
  </div>

  <div class="form-group">
    <label for="fax">Fax :</label>
    <input type="text" [(ngModel)]="customer.fax" placeholder="Fax" name="fax" class="form-control" id="fax">
  </div>

  <div class="form-group">
    <label for="web">Web:</label>
    <input type="text" [(ngModel)]="customer.web" placeholder="web" name="web" class="form-control" id="web">
  </div>

  <button class="btn btn-success" (click)="createCustomer()"  >Create</button>
</form>
</div>
