<div class="col-md-6">
<h2> Customer Details</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td class="hidden">{{customer.id}}</td>
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.email}}</td>
    <td><button class="btn btn-danger" (click)="deleteCustomer(customer)"> Delete Customer</button></td>
  </tr>
  </tbody>
</table>
</div>
