<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Zum Goldenen Löwen</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/roomlist">Zimmer</a>
      <a class="nav-item nav-link" routerLink="/customerlist">Kunden</a>
      <a class="nav-item nav-link" routerLink="/contact">Kontakt</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <form class="form-inline">
        <div class="form-group">
          <input [(ngModel)]="login" placeholder="email@address" name="login" class="form-control" id="login">
          <a class="nav-item nav-link" href="#">Anmeldung</a>
        </div>
      </form>
    </div>
  </div>
</nav>
