<div class="col-md-6">
  <h2> Room List</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Roomname / Nr </th>
      <th>MaxOccupancy</th>
      <th>Preis</th>
      <th>Type</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms">
      <td class="hidden">{{room.id}}</td>
      <td>{{room.name}} / {{room.number}}</td>
      <td>{{room.maxOccupancy}}</td>
      <td>{{room.preisEZ}}</td>

      <td><button class="btn btn-success" (click)="editRoom(room.id)"> Edit </button></td>
      <td><button class="btn btn-info" (click)="details(room.id)"> Details</button></td>
      <td><button class="btn btn-danger" (click)="deleteRoom(room)"> Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
